<app-header title="Iniciar Sesión" class="ion-text-center"></app-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card class="login-card">
    <ion-card-header>
      <ion-card-title class="ion-text-center">Bienvenido</ion-card-title>
      <ion-card-subtitle class="ion-text-center">
        Ingresa tus credenciales para continuar
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <form [formGroup]="loginFrom" (ngSubmit)="login()">
        <!-- Campo de correo -->
        <app-custom-input icon="person-outline" type="nit" autocomplete="nit" label="Cedula De Ciudadania"
          [control]="loginFrom.controls.nit"></app-custom-input>
        <div class="error-message" *ngIf="loginFrom.controls.nit.errors && loginFrom.controls.nit.touched">
          <ion-text color="danger">
            <small *ngIf="loginFrom.controls.nit.errors?.['required']">
              La Cedula es obligatoria
            </small>
            <small *ngIf="loginFrom.controls.nit.errors?.['minlength']">
              La cedula deve tener al menos 8 caracteres
            </small>
            <small *ngIf="loginFrom.controls.nit.errors?.['maxlength']">
              La cedula deve tener maximo 10 caracteres
            </small>
            <small *ngIf="loginFrom.controls.nit.errors?.['pattern']">
              La cedula deve contener solo numeros
            </small>
          </ion-text>
        </div>

        <!-- Campo de contraseña -->
        <app-custom-input icon="lock-closed-outline" type="password" label="Contraseña"
          [control]="loginFrom.controls.password"></app-custom-input>
        <div class="error-message" *ngIf="loginFrom.controls.password.errors && loginFrom.controls.password.touched">
          <ion-text color="danger">
            <small *ngIf="loginFrom.controls.password.errors?.['required']">
              La contraseña es obligatoria
            </small>
          </ion-text>
        </div>

        <!-- Botón de acción -->
        <ion-button expand="block" shape="round" mode="ios" type="submit" [disabled]="loginFrom.invalid"
          class="login-button" (click)="login()">
          Ingresar
        </ion-button>
      </form>
      <p>¿Aun no tienes cuenta? <a routerLink="sign">Regístrate</a></p>
    </ion-card-content>
  </ion-card>
</ion-content>