<ion-content>
  <ion-card class="menu-card">
    <app-header title="Menú Principal"></app-header>
    <div class="logout-button-container">
      <ion-button (click)="logout()" color="danger" class="logout-button">
        <ion-icon name="log-out-outline" slot="end"></ion-icon>
        Cerrar sesión
      </ion-button>
    </div>
    
    <ion-card class="activi">
      <ion-card-header>
        <ion-card-title>Programacion</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-button id="actividades" expand="block" (click)="navigateTo($event)">
          <ion-icon name="people-outline" slot="start"></ion-icon>
          <ion-label>Ver Programacion</ion-label>
        </ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card class="ion-margin activi">
      <ion-card-header>
        <ion-card-title>Sincronización</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-button id="sincronizar" expand="block" (click)="navigateTo($event)">
          <ion-icon name="cloud-outline" slot="start"></ion-icon>
          <ion-label>Ir a Sincronización</ion-label>
        </ion-button>
      </ion-card-content>
    </ion-card>
  </ion-card>
</ion-content>