<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="actividades" routerLink="actividades">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Actividades</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="#" href="#">
      <ion-icon name="construct-outline"></ion-icon>
      <ion-label>Recoleccion</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="sincronizar" routerLink="sincronizar">
      <ion-icon name="cloud-outline"></ion-icon>
      <ion-label>Sincronizacion</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>

<ion-content>
  <ion-card class="menu-card">
    <app-header title="Menú Principal"></app-header>

    <!-- Tarjeta: Actividades -->
    <ion-card class="activi">
      <ion-card-header>
        <ion-card-title>Actividades</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-button expand="block" (click)="navigateTo('actividades')">
          <ion-icon name="people-outline" slot="start"></ion-icon>
          <ion-label>Ver Actividades</ion-label>
        </ion-button>
      </ion-card-content>
    </ion-card>

    <!-- Tarjeta: Sincronización -->
    <ion-card class="ion-margin activi">
      <ion-card-header>
        <ion-card-title>Sincronización</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-button expand="block" (click)="navigateTo('sincronizar')">
          <ion-icon name="cloud-outline" slot="start"></ion-icon>
          <ion-label>Ir a Sincronización</ion-label>
        </ion-button>
      </ion-card-content>
    </ion-card>

    <!-- Tarjeta: Recolección -->
    <ion-card class="ion-margin activi">
      <ion-card-header>
        <ion-card-title>Recolección</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-button expand="block" (click)="navigateTo('recoleccion')">
          <ion-icon name="construct-outline" slot="start"></ion-icon>
          <ion-label>Ir a Recolección</ion-label>
        </ion-button>
      </ion-card-content>
    </ion-card>

  </ion-card>
</ion-content>