.activi {
  transition: all 0.3s ease-in-out;
  margin-top: 40px;
  margin-bottom: 30px;
}

.activi:hover {
  transform: scale(1) translateY(-10px);
  opacity: 0.8;
  /* Reduce la opacidad */
}

.menu-card {
  // width: 80%;
  /* Ancho de las tarjetas */
  // height: auto;
  /* Ajusta la altura según el contenido */
  text-align: center;
  /* Centra el contenido */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* Sombra para el efecto */
  border-radius: 10px;
  /* Bordes redondeados */
}

ion-button {
  --background: #047066;
  /* Color de fondo del botón */
  --color: white;
  /* Color del texto */
  border-radius: 8px;
  /* Bordes redondeados */
  font-size: 1rem;
  /* Tamaño del texto del botón */
}

.logout-button-container {
  display: flex;
  justify-content: flex-end; /* Alinear el botón a la derecha */
  padding: 10px; /* Espaciado interno */
}